<!DOCTYPE html>
<html>
  <head>
    <script src='js/jquery.min.js'></script>
    <script src='js/underscore-min.js'></script>
    <script src='js/d3.min.js'></script>
    <script type="text/template" id="readingTemplate">
      <div id='date'><%= _.template.formatdate(date) %></div>
      <div id='header-row'>
        <div class='header'>Temp</div>
        <div class='header'>Humidity</div>
      </div>
      <div class='temp-humidity' id='local'>
        <div id='temp' class='reading-container'>
          <div class='reading'><%= _.template.formatreading(temperature) %> F</div>
        </div>
        <div id='humidity' class='reading-container'>
          <div class='reading'><%= _.template.formatreading(humidity) %>%</div>
        </div>
        <div class='location'>Nikkibana</div>
      </div>
      <div class='temp-humidity' id='wunderground'>
        <div id='temp' class='reading-container'>
          <div class='reading'><%= _.template.formatreading(city_temperature) %> F</div>
        </div>
        <div id='humidity' class='reading-container'>
          <div class='reading'><%= _.template.formatreading(city_humidity) %>%</div>
        </div>
        <div id='wunderground-logo'><img src='https://icons.wxug.com/logos/PNG/wundergroundLogo_4c_horz.png'/><div class='location'>Vallejo, CA</div></div>
      </div>
      <div id='time'><%= _.template.formattime(date) %></div>
    </script>
    <script src='js/main.js'></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div id='container'>
      <div id='reading'></div>
      <div class='chart-head'>Temperature</div>
      <div id='temperature' class='chart'></div>
      <div class='chart-head'>Humidity</div>
      <div id='humidity' class='chart'></div>
    </div>
  </body>

</html>
